*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.my-heading{
    color: red;
    background-color: rgba(196, 225, 139, 0.55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}